# Assignment-3

This notebook contains the coding questions to test the proficiency in `Pandas` library in python.

### Date: 13th December, 2025

### Steps to solve and upload the assignment 

- Download the notebook in your local machine.
- Solve the questions in the notebook and save it.
- Rename the file as `Assignment-03-<your_name>_<your_surname>.ipynb`. For example if your name is Dipika Chopra then name the file as `Assignment-03-Dipika_Chopra.ipynb`.
- Upload the solved notebook in your github repo under the folder **Assignment-3**.
- Upload the solved notebook in the google drive location: https://drive.google.com/drive/folders/1mMtPeHCmsKQE8KxK_RmnFFkTPfo5RYNJ?usp=drive_link 
<h3><span style="color:red"> Deadline: 10th January, 2026 </span></h3>

Use the `population_by_county.csv` file in the folder to complete the tasks.

**NOTE: TRY TO DO ALL THE TASKS IN ONE LINE OF PANDAS CODE.**

In [44]:
import pandas as pd

#### 1. Import pandas and read in the `population_by_county.csv` file into a dataframe called `pop`.

In [45]:
url= './population_by_country.csv'
pop =  pd.read_csv(url)
print(pop.head())
print(pop.shape)

   Year  Population  GDP_Billion        Country State District County  \
0  2010    15361476      1035.99  United States   NaN      NaN    NaN
1  2017    16436779       296.48  United States   NaN      NaN    NaN
2  2020    16897623      1089.92  United States   NaN      NaN    NaN
3  2021    17051238      2558.96  United States   NaN      NaN    NaN
4  2022    17204853      3219.59  United States   NaN      NaN    NaN

   Percent_Change_2010_2017
0                       7.0
1                       7.0
2                       7.0
3                       7.0
4                       7.0
(870, 8)

#### 2. Show the head of the dataframe, Also show top 8 rows of the dataframe using head

In [46]:

print('Top 8 rows of the DataFrame:\n ',pop.head(8))

Top 8 rows of the DataFrame:
     Year  Population  GDP_Billion        Country State District County  \
0  2010    15361476      1035.99  United States   NaN      NaN    NaN
1  2017    16436779       296.48  United States   NaN      NaN    NaN
2  2020    16897623      1089.92  United States   NaN      NaN    NaN
3  2021    17051238      2558.96  United States   NaN      NaN    NaN
4  2022    17204853      3219.59  United States   NaN      NaN    NaN
5  2010   236333223      1973.85          China   NaN      NaN    NaN
6  2017   252876548      3575.48          China   NaN      NaN    NaN
7  2020   259966545      3667.65          China   NaN      NaN    NaN

   Percent_Change_2010_2017
0                       7.0
1                       7.0
2                       7.0
3                       7.0
4                       7.0
5                       7.0
6                       7.0
7                       7.0

#### 3. What are the column names?

In [47]:
print('Column names: ', list(pop.columns))

Column names:  ['Year', 'Population', 'GDP_Billion', 'Country', 'State', 'District', 'County', 'Percent_Change_2010_2017']

#### 4. How many States are represented in this data set?  
<em>Note: the data includes the `District of Columbia`</em>

In [48]:
state_List = pop['State'].dropna().unique()
print('number of states:', state_List.size)

number of states: 45

#### 5. Get a list or array of all the states in the data set.

In [49]:

state_List = pop['State'].dropna().unique()
print('List of states:', state_List)

List of states: ['California' 'Texas' 'Florida' 'New York' 'Pennsylvania' 'Illinois'
 'Ohio' 'Georgia' 'North Carolina' 'Michigan' 'New Jersey' 'Virginia'
 'Washington' 'Arizona' 'State_0' 'State_1' 'State_2' 'State_3' 'State_4'
 'State_5' 'State_6' 'State_7' 'State_8' 'State_9' 'State_10' 'State_11'
 'State_12' 'State_13' 'State_14' 'State_15' 'State_16' 'State_17'
 'State_18' 'State_19' 'State_20' 'State_21' 'State_22' 'State_23'
 'State_24' 'State_25' 'State_26' 'State_27' 'State_28' 'State_29'
 'State_30']

#### 6. What are the five most common County names in the U.S.?

In [50]:

unique_geography = pop[['County', 'State']].dropna(subset=['County']).drop_duplicates()
top_five_counties = unique_geography['County'].str.replace(' County', '', regex=False).value_counts().head(5)
print(top_five_counties)

County
Washington    31
Jefferson     26
Franklin      25
Lincoln       24
Jackson       24
Name: count, dtype: int64

#### 7. What are the top 5 most populated Counties according to the 2010 Census?

In [51]:
# Write your code here
top_5_2010 = pop[pop['Year'] == 2010].dropna(subset=['County']).sort_values(by='Population', ascending=False).head(5)
print(top_5_2010[['County', 'Population']])

                 County  Population
195  Los Angeles County     9818605
200         Cook County     5194675
205       Harris County     4092459
210     Maricopa County     3817117
215    San Diego County     3095313

#### 8. What are the top 5 most populated States according to the 2010 Census?

In [52]:
top_5_2010 = pop[pop['Year'] == 2010].dropna(subset=['State']).sort_values(by='Population', ascending=False).head(5)
print(top_5_2010[['State', 'Population']])

            State  Population
140  Pennsylvania    39679901
180    Washington    36583216
175      Virginia    31440554
165      Michigan    31159936
135      New York    31032897

#### 9. How many Counties have 2010 populations greater than 1 million?

In [53]:
counties_2010 = pop[(pop['Year'] == 2010) & (pop['County'].notna())]
count = len(counties_2010[counties_2010['Population'] > 1000000])

print(f"Number of counties with 2010 population > 1,000,000: {count}")

Number of counties with 2010 population > 1,000,000: 5

#### 10. How many Counties don't have the word "County" in their name?

In [54]:
unique_counties = pop['County'].dropna().unique()
no_county_word = [name for name in unique_counties if 'County' not in name]

print(f"Count: {len(no_county_word)}")

Count: 0

#### 11. Add a column that calculates the percent change between the 2010 Census and the 2017 Population Estimate

In [55]:
counties_change = pop[pop['County'].notna()][['County', 'Percent_Change_2010_2017']].drop_duplicates()
print(counties_change.head())

                 County  Percent_Change_2010_2017
195  Los Angeles County                       5.6
200         Cook County                       5.6
205       Harris County                       5.6
210     Maricopa County                       5.6
215    San Diego County                       5.6

#### 12. What States have the highest estimated percent change between the 2010 Census and the 2017 Population Estimate?

**NOTE:** This will take several lines of code, as it requires a recalculation of Percent Change.

In [57]:
state_totals = pop[pop['State'].notna() & pop['County'].isna()]
p10 = state_totals[state_totals['Year'] == 2010][['State', 'Population']].rename(columns={'Population': 'Pop2010'})
p17 = state_totals[state_totals['Year'] == 2017][['State', 'Population']].rename(columns={'Population': 'Pop2017'})
state_growth = pd.merge(p10, p17, on='State')
state_growth['Percent_Change'] = ((state_growth['Pop2017'] - state_growth['Pop2010']) / state_growth['Pop2010']) * 100
top_states = state_growth.sort_values(by='Percent_Change', ascending=False)

print(top_states.head())

           State   Pop2010   Pop2017  Percent_Change
4   Pennsylvania  39679901  42457494        7.000000
12    Washington  36583216  39144041        7.000000
7        Georgia  26543846  28401915        6.999999
13       Arizona  25090946  26847312        6.999999
6           Ohio  18018961  19280288        6.999999